.cardDetail{
    display: flex;
    background-color: whitesmoke;
    margin: 30px;
    padding: 30px;
    max-Width: 645px;
    border-radius: 5px 
}

.img{
    margin: 20px;
    width: 300px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}