nav {
    background-color: whitesmoke;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
  }
  
  ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  .li {
    list-style: none;
    text-decoration: none;
    color: rgb(3, 3, 29);
    padding: 20px;
  }
  
  

