nav {
  background-color: whitesmoke;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

.li {
  list-style: none;
  text-decoration: none;
  color: rgb(3, 3, 29);
  padding: 20px;
  font-size: 20px;
}

.li:hover {
  color: rgb(49, 49, 219);
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 10px;
}

.cart {
  padding-top: 30px;
}

.number{
  background-color: royalblue;
  border-radius: 50%;
  color: whitesmoke;
  font-size: 10px;
  padding: 3.5px;
}